@import url('https://fonts.googleapis.com/css?family=Titan+One&display=swap');

:root {
  --black: #000000;
  --white: #ffffff;
  --darkGrey: #222222;
  --grey: #444444;
  --coral: #E57996;
  --blue: #32ABE1;
  --green: #42B883;
  --defaultFontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

body {
  font-family: var(--defaultFontFamily);
  background: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  height: 100vh;
  padding-top: 20px;
}

h1 {
  color: var(--white);
  font-family: 'Titan One', var(--defaultFontFamily);
  font-size: 16px;
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

h1 span {
  color: var(--coral);
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  margin: 10px 0;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 10px;
  margin-top: 10px;
}

#status {
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
  background: var(--darkGrey);
  color: var(--white);
  max-width: 260px;
  padding: 0.75rem;
  border-top: 3px solid var(--blue);
  border-radius: 5px;
}

#status.you-won {
  color: var(--green);
  border-top: 3px solid var(--green);
  font-weight: bold;
}

#status.you-won::before,
#status.you-won::after {
  content: '🎉';
  margin: 0 5px;
}

.square {
  background: var(--darkGrey);
  border: 1px solid var(--grey);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 80px;
  height: 80px;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.square.X {
  color: var(--blue);
}

/* .square.O {
  color: var(--coral);
} */

.hover {
  background: var(--coral);
  border-color: var(--blue);
  cursor: pointer;
}

.hover.O {
  color: white;
}

.btn {
  color: white;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: .25rem .5rem;
  margin: 5px 0;
  font-size: 0.9rem;
  border-radius: .25rem;
}

.btn:hover {
  background-color: var(--coral);
  border: 1px solid var(--coral);
  cursor: pointer;
}

